In [19]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [20]:
df=pd.read_csv("C:/Users/Admin/Downloads/50_Startups.csv")
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [21]:
X=df.iloc[:,:-1]
y=df.iloc[:,4]

In [22]:
X.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [23]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [24]:
st=pd.get_dummies(X['State'],drop_first=True)

In [25]:
X=X.drop('State',axis=1)

In [26]:
X=pd.concat([X,st],axis=1)

In [37]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10    False      True
1  162597.70       151377.59        443898.53    False     False
2  153441.51       101145.55        407934.54     True     False
3  144372.41       118671.85        383199.62    False      True
4  142107.34        91391.77        366168.42     True     False

In [38]:
X.dtypes

R&D Spend          float64
Administration     float64
Marketing Spend    float64
Florida               bool
New York              bool
dtype: object

In [27]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [28]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(X_train,y_train)

LinearRegression()

In [29]:
y_pred=lr.predict(X_test)

In [30]:
y_test.head()

28    103282.38
11    144259.40
10    146121.95
41     77798.83
2     191050.39
Name: Profit, dtype: float64

In [31]:
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [32]:
from sklearn.metrics import r2_score
r_squared=r2_score(y_test,y_pred)

In [33]:
r_squared

0.9347068473282423